.song-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background-color: #f9f9f9;
}

.song-card img {
    width: 100%;
    border-radius: 8px;
}

.song-card h2 {
    font-size: 1.2em;
    margin: 12px 0;
}

.song-card a {
    color: #1db954;
    text-decoration: none;
}
.picture-size {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
