$primary-color: #ff6f61;
$secondary-color: #ffe66d;
$background-color: #f7f7f7;
$text-color: #333;
$card-bg-color: #fff;
$card-border-radius: 10px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$transition: transform 0.3s;

body {
  font-family: 'Arial, sans-serif';
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}

header {
  margin-bottom: 40px;
}

h1 {
  color: $primary-color;
}

.song-card {
  background-color: $card-bg-color;
  padding: 20px;
  border-radius: $card-border-radius;
  box-shadow: $box-shadow;
  transition: $transition;
}

.song-card:hover {
  transform: scale(1.05);
}

.song-card img {
  width: 100%;
  border-radius: $card-border-radius;
}

.song-card h2 {
  font-size: 1.2rem;
  color: $primary-color;
  margin: 10px 0;
}

.song-card a {
  text-decoration: none;
  color: $secondary-color;
  font-weight: bold;
}

.song-card a:hover {
  text-decoration: underline;
}
$picture-width: 200px;
$picuture-height: 200px;

.picture-size {
  width: $picture-width;
  height: $picuture-height;
  object-fit: cover;
}
